/* Styles pour la carte */
#map {
    height: 400px;
    width: 100%;
}

/* Styles pour les pop-ups */
.leaflet-popup-content-wrapper {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Styles spécifiques pour les pop-ups */
.custom-popup {
    max-width: 300px;
    background-color: #ffffff;
    color: #333333;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

.custom-popup h5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.custom-popup p {
    margin: 5px 0;
}

/* Styles spécifiques pour le nouveau design du pop-up */
.custom-popup .popup-header {
    border-bottom: 2px solid #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-popup .hospital-type {
    font-size: 12px;
}

.custom-popup .hospital-name {
    font-size: 18px;
    font-weight: bold;
}

.custom-popup .availability-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.custom-popup .availability-item {
    text-align: center;
}

.custom-popup .availability-label {
    font-size: 14px;
    font-weight: bold;
}

.custom-popup .availability-value {
    font-size: 24px;
    font-weight: bold;
}

.custom-popup .hospital-details {
    font-size: 14px;
}

.custom-popup .hospital-address {
    margin-bottom: 5px;
}

.custom-popup .hospital-phone {
    font-weight: bold;
}

/* Styles pour les carreaux de disponibilité */
.custom-popup .availability-item {
    padding: 8px;
    border-radius: 4px;
}

/* Couleur du carreau pour disponibilité > 0 */
.custom-popup .availability-item.available {
    background-color: #2ecc71; /* Couleur verte */
}

/* Couleur du carreau pour disponibilité = 0 */
.custom-popup .availability-item.unavailable {
    background-color: #e74c3c; /* Couleur rouge */
}